:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}


*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);

}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: rgb(255, 87, 34);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.navbar a{
    margin: 1.8rem;
    font-size: 1.8rem;
    color: #ffff;
}

.novbar a:hover{
    color: #d3ad7f;
    border-bottom: 0.1rem solid #d3ad7f;
    padding-bottom: 0.5rem;
    font-size: 2rem;

}

.icons img{
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover{
    width: 150px;
    height: 150px;

}

.btn {
    background: var(--main-color);
    color: #ffffff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    letter-spacing: 0.1rem;
}

.home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
}
/*Toda imagem para ser exibida precisa das suas espicificações*/
.home-container{
    background: url("//lh3.googleusercontent.com/aAsYokkZ_TMxTeNWuXoSp-Lip-dlp49uL-BKpgLQBBVRuyUqYpaxsGSQTPhS2VFi4gF2aK8xbvtY6tpvohiGL5ThIH2FBonq4w=s0-e365-rw");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.content h2{
    color: #ffff;
    font-size: 60px;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.content p{
    color: yellow;
    font-size: medium;
    text-shadow: 2px , 1px;
}

.title{
    font-size: 5rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    background-color: #010103;
    gap: 1.3rem;
}

.about .row .content {
    padding: 1rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #ffffff;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ffffff;
    padding: 1rem 0;
    line-height: 1.8;
}

.btn houver{
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;

}

.menu .box-container .box{
    text-align: center;
    border: #010103;
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box img{
    height: 10rem;

}

.menu .box-container .box h3{
    color: #ffff;
    font-size: 2rem;
    padding: 1rem 0;    
}

.menu .box-container .box price{
    color: #ffff;
    font-size: 2.5rem;
    padding: 0.5rem;    
}

.menu .box-container .box span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 100;   
}

.menu .box-container .box:houver {
    background-color: #ffff;
}

.menu .box-container .box:houver>*{
    color: black;
}

.pedido {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}